/* distribucion de contenido */
* {
    font-family: serif;
    text-align: center;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-areas: 'head'
        'main '
        'foot ';
    grid-template-rows: 60px auto 12%;
    grid-template-columns: 100%;
    grid-gap: 0px;

}

header {
    grid-area: head;
    height: auto;
    width: auto;
}

header h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
    padding: 0.2em;
    background-color: rgba(0, 132, 255, 0.137);
    border: 2px solid #ff00ff48;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: main;
}

footer {
    grid-area: foot;
    width: clamp(300px, 100%, 99%);
    height: 60px;
}

.contenedor-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contenedor-textos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.contenedor-botones {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

.presentacion {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center;
    padding: 1em 0;
}

.contenedor-botones .boton {
    flex-grow: 1;
}

/* estilo */

.Texto-Entrada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: auto;
    margin: 10px 10px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(54, 0, 248);
}

#Entrada {
    padding: 5px;
    margin: 5px;
    width: auto;
    height: clamp(80%, 95%, 300px);
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 1.2em;
    border: none;
    resize: none;
}

.Texto-Salida {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-size: 1.2em;
    margin: 10px 10px;
    width: 300px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(54, 0, 248);

}

#Salida {
    margin: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 25px;
    height: auto;
    word-wrap: break-word;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: justify;
}

#Salida:empty::before {
    position: absolute;
    height: auto;
}

#Sin-Texto {
    object-fit: cover;
    object-position: -17px;
    vertical-align: middle;
    width: 330px;
    height: 400px;
}

.presentacion {
    font-size: 1.2em;
    background-color: rgba(0, 132, 255, 0.137);
    border: 2px solid #ff00ff48;
    text-align: center;
}

.boton {
    margin: 5px;
    background: linear-gradient(to right, #196BCA, #6433E0);
    background-color: #196BCA;
    color: #fff;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 0px #2D2D2D;
    transition: 1s all;
    cursor: pointer;
}

.boton span {
    margin-right: 15px;
    display: block;
    width: 29px;
    height: 29px;
    transform: rotate(0deg);
}

.boton:hover {
    background: linear-gradient(to right, #5482d0, #7d5ee3);
    background-color: #2365d8;
    box-shadow: none;
    border: 0px solid #000;
}

.boton:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}