* {
    font-family: serif;
    text-align: center;
}

body {
    margin: 0cm;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    margin: 0cm;
    padding: 0.5em;
    min-width: fit-content;
    background-color: rgba(0, 132, 255, 0.137);
    border: 2px solid #ff00ff48;
}

.CuadrosTexto {
    margin: .1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

.Texto-Entrada {
    padding: 10px;
    display: inline-flex;
    overflow: auto;
    margin: 10px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(54, 0, 248);
    width: 300px;
    height: auto;
    flex-direction: column;
}

#Entrada {
    flex: content;
    overflow: overlay;
    overflow-anchor: auto;
    padding: 5px;
    margin: 5px;
    text-align: justify;
    font-size: 1.2em;
    width: 300px;
    max-height: 420px;
    border: none;
}

.Texto-Salida {
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    overflow: auto;
    margin: 10px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(54, 0, 248);
    width: 300px;
    max-height: 500px;
    justify-content: space-between;
}

#Salida {
    margin: 0%;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 25px;
    height: auto;
    word-wrap: break-word;
    overflow-y: auto;
    text-align: justify;
}

#Salida:empty::before {
    position: absolute;
}

#Sin-Texto {
    object-fit: cover;
    object-position: -1em; 
    width: 110%;
    height: 80%;
    border-radius: 10px;
}

.presentacion {
    font-size: 1.2em;
    height: max-content;
    margin: 10px auto;
    padding: 0.5em;
    min-width: fit-content;
    background-color: rgba(0, 132, 255, 0.137);
    border: 2px solid #ff00ff48;
}

.botones {
    margin: 10px;
    display: flex;
    font-size: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.boton {
    margin: 5px;
    background: linear-gradient(to right, #196BCA, #6433E0);
    background-color: #196BCA;
    color: #fff;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px #2D2D2D;
}

.boton span {
    margin-right: 15px;
    display: block;
    width: 29px;
    height: 29px;
    transform: rotate(0deg);
}

.boton:hover {
    background: linear-gradient(to right, #5482d0, #7d5ee3);
    background-color: #2365d8;
}

.boton:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}